<!DOCTYPE html>
<html>
<head>
<title>Internal Use ONLY!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Internal Use.</h1>
<p>This site is only used as an APT Repository Mirror and is not intended to be accessed via a web browser.</p>
</body>
</html>
